{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ with .Description }}
    <p>{{.}}</p>
  {{ end }}
  <aside>
    {{.TableOfContents}}
  </aside>
  <div class="e-content">
    {{ .Content }}

    <p style="color: #606085;">
      {{ i18n "lastUpdated" }} <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod | time.Format ":date_long" }}{{ with .File }}</date> · <a href='https://github.com/mastodon/documentation/tree/main/content/{{ page.Language.Lang }}/{{ .Path }}' style="color: #606085;">{{ i18n "improvePage" }}{{ end }}</a>

      {{ if .IsTranslated }}
        <br />

        {{ i18n "otherTranslations" }}

        {{ range .Translations }}
          <a href="{{ .RelPermalink }}" style="color: #606085;" hreflang="{{ .Lang }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      {{ end }}
    </p>

  </div>
{{ end }}
