@font-face {
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url('./webfonts/roboto-mono/robotomono-regular-webfont.woff2') format('woff2'),
    url('./webfonts/roboto-mono/robotomono-regular-webfont.woff') format('woff'),
    url('./webfonts/roboto-mono/robotomono-regular-webfont.ttf') format('truetype'),
    url('./webfonts/roboto-mono/robotomono-regular-webfont.svg#roboto_monoregular') format('svg');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
