<footer class="footer container">
  <div class="sponsorship">
    <div class="container">
      <h2>
        {{ i18n "sponsoredBy" }}
      </h2>

      <div class="logo-grid">
        <div>
          <a href="https://www.dotcom-monitor.com/es/">
            <img src="{{ relURL "assets/sponsors/dotcom-monitor-logo.png" }}" alt="Dotcom-Monitor" />
          </a>

          <a href="https://www.loadview-testing.com/products/jmeter-load-testing/">
            <img src="{{ relURL "assets/sponsors/LoadView-logo.png" }}" alt="LoadView" />
          </a>

          <a href="http://www.stevetures.com/">
            <img src="{{ relURL "assets/sponsors/stephen-tures.jpg" }}" alt="Stephen Tures" />
          </a>

          <a href="https://swayable.com">
            <img src="{{ relURL "assets/sponsors/swayable.jpeg" }}" alt="Swayable" />
          </a>

          <a href="https://www.sponsormotion.com/">
            <img src="{{ relURL "assets/sponsors/SponsorMotion.png" }}" alt="SponsorMotion" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <p class="legal legal--right">
    <a href='https://joinmastodon.org'>{{ i18n "joinMastodon" }}</a> · <a href='https://blog.joinmastodon.org'>{{ i18n "blog" }}</a> · <a href='https://mastodon.social/@Mastodon' target='_blank'><i class='fab fa-mastodon'></i></a>
  </p>

  <p class="legal">{{ with .File }}<a href='https://github.com/mastodon/documentation/tree/main/content/{{ .Lang }}/{{ .File.Path }}'>{{ i18n "viewSource" }}</a> · {{ end }}<a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a> · <a href='https://joinmastodon.org/imprint'>{{ i18n "imprint" }}</a></p>
</footer>
