<a class="brand" href="/">
  <img class="link-logo" src="{{ relURL "brand.svg" }}" alt="Mastodon" />
</a>

<input id="mobile-nav-toggle" class="mobile-nav-toggle" type="checkbox">
<label for="mobile-nav-toggle">
    <span class="menu-open">
        <i class="fa fa-times"></i> Close
    </span>
    <span class="menu-close">
        <i class="fa fa-bars"></i> Menu
    </span>
</label>

<ul>
  {{ $currentPage := . }}
  {{ range .Site.Menus.docs.ByWeight }}
    <li>
      {{ if .Page }}
        <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "docs" . }}active{{ end }}">{{ .Name }}</a>
      {{ else }}
        <span class="sub-title">{{ .Name }}</span>
      {{ end }}

      {{ if .HasChildren }}
        <ul class="sub-menu">
          {{ range .Children }}
            <li>
              <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "docs" . }}active{{ end }}">{{ .Name }}</a>

              {{ if .HasChildren }}
                <ul class="sub-menu">
                  {{ range .Children }}
                    <li>
                      <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "docs" . }}active{{ end }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
  {{ end }}
</ul>
