{{ define "title"}}{{ .Site.Title }}{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ with .Description }}
    <p>{{.}}</p>
  {{ end }}

  <div class="e-content">
    {{ .Content }}

    <p style="color: #687590;">
      {{ i18n "lastUpdated" }} {{ i18n "lastUpdatedDateFormat"  .Lastmod }}{{ with .File }} · <a href='https://github.com/mastodon/documentation/tree/main/content/{{ page.Language.Lang }}/{{ .Path }}' style="color: #687590;">{{ i18n "improvePage" }}{{ end }}</a>

      {{ if .IsTranslated }}
        <br />

        {{ i18n "otherTranslations" }}

        {{ range .Translations }}
          <a href="{{ .RelPermalink }}" style="color: #687590;" hreflang="{{ .Lang }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      {{ end }}
    </p>

  </div>
{{ end }}
