<div class="api-method-parameter">
  <div class="api-method-parameter-cell api-method-parameter-name">
    <div>{{ .Get "name" | markdownify }}</div>
    {{ if (.Get "required") }}<div class="api-method-parameter-required">{{ i18n "required" }}</div>{{ else}}<div class="api-method-parameter-optional">{{ i18n "optional" }}</div>{{ end }}
  </div>

  <div class="api-method-parameter-cell api-method-parameter-type">
    <code>{{ .Get "type" }}</code>
  </div>

  <div class="api-method-parameter-cell api-method-parameter-description">
