<table>
  <tbody>
    <tr>
      <th style="text-align: left">Response format</th>
      <td>JSON</td>
    </tr>

    <tr>
      <th style="text-align: left">Requires authentication</th>
      <td>{{ .Get "auth" }}</td>
    </tr>

    <tr>
      <th style="text-align: left">Requires user</th>
      <td>{{ .Get "user" }}</td>
    </tr>

    {{ with .Get "scope" }}
      <tr>
        <th style="text-align: left">Scope</th>
        <td>{{range split . " "}}<code>{{ . }}</code> {{ end }}</td>
      </tr>
    {{ end }}

    <tr>
      <th style="text-align: left">Available since</th>
      <td>{{ .Get "version" }}</td>
    </tr>
  </tbody>
</table>
